.contact {
    background-color: var(--colour-slate);
    color: var(--colour-white);
    min-height: calc( 100vh - var(--h-top));
    h1 {
        font-size: var(--text-5xl);
        font-weight: var(--font-weight-black);
    }
    .row {
        height: calc( 100vh - var(--h-top));
    }
    .row.addresses {
        height: auto;
        .fa-ul {
            margin-left: 1.75rem;
        }
        a {
            margin-inline-start: 0;
            transition: color var(--transition);
            &:hover {
                color: var(--colour-green) !important;
            }
        }
    }
    .fa-ul.contacts {
        li {
            padding-block: 1rem;
            font-size: var(--text-md);
            @media (min-width:992px) {
                padding-block: 2rem;
                font-size: var(--text-lg);
            }
            display: flex;
            align-items: center;
            gap: 2rem;
        }
    }

    a {
        text-decoration: none;
        color: var(--colour-white);
        transition: color var(--transition);
        display: inline-block;
        margin-inline-start: 1rem;
        &:hover {
            color: var(--colour-green);
        }
    }
}